.bottom {
background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  padding: 30px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
  box-sizing: border-box;
  width: 98vw;     /* Force it to take full viewport width */
  margin: 0;        /* Remove default margin */
  position: relative;
}

/* Logo */
.bottom-logo {
  margin-bottom: 100px;
  width: 150px;
  height: 150px;
}
.bottom-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Navigation links */
.bottom-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.bottom-link {
  color: #2c3e50;
  text-decoration: none;
  font-weight: 700;
  transition: color 0.1s;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -ms-transition: color 0.1s;
  -o-transition: color 0.1s;
}

.bottom-link:hover {
  color: violet;
}

/* About Section */
.bottom-about {
  max-width: 700px;
  text-align: center;
}

.bottom-about-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: black;
}

.bottom-about-text {
  margin: 30px 0;
  line-height: 1.6;
  padding: 0 50px;
}

/* Responsive */
@media (max-width: 768px) {
  .bottom {
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .bottom-logo {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
  }

  .bottom-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .bottom-links {
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
  }

  .bottom-about-title {
    font-size: 1rem;
  }

  .bottom-about-text {
    font-size: 0.7rem;
    padding: 0 10px;
  }

  .bottom-link {
    font-weight: 200;
    font-size: 0.6rem;
  }
}